@import '../../styles/index.scss';

.unit-text-feild {
  width: 0px;
  color: white;
  text-align: center;

  background-color: $black-1;
  font-family: $font-family-regular;

  border-radius: $border-radius-text-feild;
  min-width: $tool-bar-text-feild-min-width;
  margin: 0px 0px 0px 0px;
}