@import '../index.scss';

.context-menu {
  border-radius: $border-radius-regular;
  min-width: $context-menu-min-width;
  max-width: $context-menu-max-width;
  padding: $padding-big 0px $padding-big 0px;
  display: flex;
  flex-direction: column;

  .context-menu-button,
  .context-menu-extension-button,
  .context-menu-toggle-button {
    display: flex;
    align-items: center;
    font-size: $font-size-regular;
    height: $context-menu-button-height;
    padding: $padding-big 0px $padding-big $padding-big;
    text-align: left;

    &.disabled {
      cursor: default;
    }

    .context-menu-button-icon-holder {
      width: $context-menu-button-height;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .context-menu-button-text {
      flex: 1;
    }
  }

  .context-menu-separator {
    height: calc($context-menu-button-height / 2);
    display: flex;
    align-items: center;
    justify-content: center;

    .context-menu-separator-line {
      height: $context-menu-separator-thickness;
      width: calc(100% - $padding-big * 2);
      border-radius: $border-radius-sharper;
    }
  }

  .context-menu-extension-button {
    position: relative;

    .context-menu-extension-button-extension {
      position: absolute;
      display: none;
      cursor: default;

      top: 0px;
      right: 0px;
      transform: translateX(100%) translateY(calc($padding-big * -1));
    }

    &:not(.disabled) {
      &:hover,
      &:focus-within {
        & > .context-menu-extension-button-extension {
          display: block;
        }
      }
    }
  }
}
