# testing
/build
/coverage
draft.*
/temp
_site
.eslintrc.cjs

# dependencies
node_modules
package-lock.json
yarn-error.log

# cache
.jekyll-cache
.jekyll-metadata
.sass-cache
vendor

# build
scripts
vite.config.ts
