{
  "root": true,

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/jsx-runtime"
  ],

  "plugins": ["@typescript-eslint"],

  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": "./tsconfig.json" }
}
