@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('tff');
}

@font-face {
  font-family: 'Montserrat-Google-Regular';
  src: url('https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2')
    format('woff2');
}
