// Accents
$accent-lighter: #b062f5;
$accent-light:   #9e45ed;
$accent-regular: #892cdc;
$accent-dark:    #7123b8;
$accent-darker:  #601b9e;

// Blacks
$black-lighter: #444c56;
$black-light:   #393c42;
$black-regular: #22272e;
$black-dark:    #191c21;
$black-darker:  #0f1113;

// Grays
$gray-lighter: #a9b4c2;
$gray-light:   #8b96a3;
$gray-regular: #65707d;
$gray-dark:    #48515c;
$gray-darker:  #272e36;

// Greens
$green-lighter: #8dfc8d;
$green-light:   #5bf55b;
$green-regular: #2aeb2a;
// $green-dark:    #191c21;
// $green-darker:  #0f1113;

// Generic colors
$white: white;