// Accents
$accent-lighter: hsl(270, 70, 60);
$accent-light: hsl(270, 70, 55);
$accent-regular: #hsl(270, 70, 50);
$accent-dark: hsl(270, 70, 45);
$accent-darker: hsl(270, 70, 40);

// Blacks
$black-xx-lighter: hsl(240, 20, 40);
$black-x-lighter: hsl(240, 20, 35);
$black-lighter: hsl(240, 20, 30);
$black-light: hsl(240, 20, 25);
$black-regular: hsl(240, 20, 20);
$black-dark: hsl(240, 20, 15);
$black-darker: hsl(240, 20, 10);

// Grays
$gray-lighter: hsl(240, 20, 95);
$gray-light: hsl(240, 20, 90);
$gray-regular: hsl(240, 20, 85);
$gray-dark: hsl(240, 20, 80);
$gray-darker: hsl(240, 20, 75);

// Blues
$blue-lighter: hsl(240, 100, 75);
$blue-light: hsl(240, 100, 70);
$blue-regular: #hsl(240, 100, 65);
$blue-dark: hsl(240, 100, 60);
$blue-darker: hsl(240, 100, 55);

// Greens
$green-lighter: hsl(120, 80, 65);
$green-light: hsl(120, 80, 60);
$green-regular: hsl(120, 80, 55);
$green-dark: hsl(120, 80, 50);
$green-darker: hsl(120, 80, 45);

// Yellows
$yellow-lighter: hsl(50, 100, 70);
$yellow-light: hsl(50, 100, 65);
$yellow-regular: hsl(50, 100, 60);
$yellow-dark: hsl(50, 100, 55);
$yellow-darker: hsl(50, 100, 50);

// Reds
$yellow-lighter: hsl(360, 100, 75);
$yellow-light: hsl(360, 100, 70);
$yellow-regular: hsl(360, 100, 65);
$yellow-dark: hsl(360, 100, 60);
$yellow-darker: hsl(360, 100, 55);

// LEGACY COLORS

// Black shades
// $black-shade-lighter: #444c56;
// $black-shade-light: #393c42;
$black-shade-regular: rgba(34, 39, 46, 0.8);
$black-shade-dark: rgba(25, 28, 33, 0.8);
// $black-shade-darker: #0f1113;

