// Accents
$accent-lighter: hsl(270, 70, 60);
$accent-light: hsl(270, 70, 55);
$accent-regular: #hsl(270, 70, 50);
$accent-dark: hsl(270, 70, 45);
$accent-darker: hsl(270, 70, 40);

// Blues
$blue-lighter: hsl(240, 100, 75);
$blue-light: hsl(240, 100, 70);
$blue-regular: #hsl(240, 100, 65);
$blue-dark: hsl(240, 100, 60);
$blue-darker: hsl(240, 100, 55);

// Blacks
$black-lighter: hsl(240, 20, 30);
$black-light: hsl(240, 20, 25);
$black-regular: hsl(240, 20, 20);
$black-dark: hsl(240, 20, 15);
$black-darker: hsl(240, 20, 10);

// Grays
$gray-lighter: hsl(240, 20, 95);
$gray-light: hsl(240, 20, 90);
$gray-regular: hsl(240, 20, 85);
$gray-dark: hsl(240, 20, 80);
$gray-darker: hsl(240, 20, 75);

// LEGACY COLORS

// Black shades
// $black-shade-lighter: #444c56;
// $black-shade-light: #393c42;
$black-shade-regular: rgba(34, 39, 46, 0.8);
$black-shade-dark: rgba(25, 28, 33, 0.8);
// $black-shade-darker: #0f1113;

// Greens
$green-lighter: #8dfc8d;
$green-light: #5bf55b;
$green-regular: #2aeb2a;
// $green-dark:    #191c21;
// $green-darker:  #0f1113;
