@import '../../styles/index.scss';

.context-menu {
  background-color: v(context-menu-background-color);
  border-radius: $border-radius-regular;
  min-width: $context-menu-min-width;
  max-width: $context-menu-max-width;
  padding: $padding-big;
  display: flex;
  flex-direction: column;

  & > .button,
  & > .extension {
    font-size: $font-size-regular;
    color: v(context-menu-button-content-color);
    background-color: v(context-menu-button-background-color);
    height: $context-menu-button-height;
    border-radius: $border-radius-regular;
    padding: $padding-big;
    text-align: left;

    &:hover {
      background-color: v(context-menu-button-hover-background-color);
    }

    &:active {
      background-color: v(context-menu-button-active-background-color);
    }

    &.disabled {
      cursor: default;
      color: v(context-menu-button-disabled-content-color);
      background-color: v(context-menu-button-background-color);
    }
  }

  & > .separator {
    height: $context-menu-button-height;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      height: $context-menu-separator-thickness;
      width: 100%;
      border-radius: $border-radius-sharper;
      background-color: v(context-menu-separator-color);
    }
  }

  & > .extension {
    & > .extension {
      display: none;
      position: fixed;
      cursor: default;
    }

    & > .extension.visible {
      display: block;
    }
  }
}
