@import '../../styles/index.scss';

.context-menu {
  background-color: $black-dark;
  border-radius: $border-radius-regular;
  min-width: $context-menu-min-width;
  max-width: $context-menu-max-width;
  padding: $padding-thicker 0 $padding-thicker 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 $drop-shadow-blur-big $shadow-dark;

  .button,
  .extension-button,
  .toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: $font-size-regular;
    color: white;
    background-color: $black-dark;
    height: $button-major-height;
    padding: 0 $padding-thick 0 $padding-thick;
    text-align: left;

    &:hover {
      background-color: $black-regular;
    }

    &:active {
      background-color: $black-light;
    }

    &.disabled {
      cursor: default;
      color: $gray-darker;
      background-color: $black-dark;

      .icon-holder .icon {
        fill: $gray-darker;
      }
    }

    .icon-holder {
      fill: white;
      width: $button-major-height;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: $icon-size-x-small;
        height: $icon-size-x-small;
      }
    }

    .text {
      flex: 1;
    }
  }

  .separator {
    height: calc($button-major-height / 2);
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      height: $separator-thickness;
      width: calc(100% - $padding-thick * 2);
      border-radius: $border-radius-sharper;
      background-color: $black-light;
    }
  }

  .extension-button {
    position: relative;

    .extension {
      position: absolute;
      display: none;
      cursor: default;

      top: 0;
      right: 0;
      transform: translateX(100%) translateY(calc($padding-thick * -1));
    }

    &:not(.disabled) {
      &:hover,
      &:focus-within {
        .extension {
          display: block;
        }
      }
    }
  }
}
