@import '../../styles/index.scss';

.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $black-regular;

  * {
    margin-bottom: $margin-x-thick;
  }

  .icon {
    width: $icon-size-xxxxx-big;
    height: $icon-size-xxxxx-big;
    fill: $red-regular;
  }

  .title {
    color: white;
    font-size: $font-size-big;
    font-weight: bold;
  }

  .body {
    color: white;
    font-size: $font-size-regular;
    max-width: 320px;
    text-align: center;
  }

  .button-row {
    display: flex;
    flex-direction: row;

    * {
      margin-right: $margin-thick;
    }
  }

  .debug {
    width: 320px;
    height: 128px;
  }
}
