@import '../../styles/index.scss';

.device-picker-container {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  .title {
    color: white;
  }

  .card-list {
    display: flex;
    justify-content: center;

    .card {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      width: 128px;
      height: 128px;

      background-color: $black-regular;
      font-size: $font-size-big;
      border-radius: $border-radius-regular;
      color: white;

      margin: $margin-regular;

      &:hover {
        background-color: $black-light;
      }

      svg,
      img {
        display: block;

        width: 48px;
        height: 48px;

        margin-bottom: $margin-smaller;
      }

      .recommended-text {
        margin: 0px;
        height: 0px;
        font-style: italic;
        font-weight: normal;

        font-size: $font-size-small;

        color: $green-lighter;
      }
    }
  }

  .build {
    color: $gray-dark;
  }
}
