@import '../../styles/index.scss';

.unit-text-input {
  color: white;
  text-align: center;

  background-color: v(input-background-color);
  font-family: v(font-family-regular);

  border-radius: $border-radius-regular;
  width: $unit-text-input-width;
  height: $unit-text-input-height;
  min-width: $unit-text-input-width;

  padding: 0px;
}
