@import '../../styles/index.scss';

.unit-text-input {
  color: white;
  text-align: center;

  background-color: v(input-background-color);
  font-family: v(font-family-regular);

  border-radius: $border-radius-regular;
  margin: 0px $margin-smaller 0px 0px;
  min-width: $tool-bar-text-feild-width;
  height: $tool-bar-text-feild-height;
}