@import '../../styles/index.scss';

// Explorer
$explorer-width: 320px;

$explorer-tab-height: 34px;

$explorer-listing-height: 34px;

.explorer-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  width: $explorer-width;

  .tabs-container {
    display: flex;

    height: $explorer-tab-height;

    .tab,
    .tab-static {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      flex: 1;

      color: white;

      font-size: $font-size-big;
    }

    .tab {
      background-color: $black-light;
    }

    .tab.selected {
      background-color: $accent-regular;
    }

    .tab-static {
      cursor: default;
      background-color: $black-light;
    }
  }

  .part-listing-container,
  .property-listing-container {
    overflow-y: auto;
    flex: 1;
    display: none;

    background-color: $black-regular;

    &.indented {
      padding-left: $padding-thicker;
    }

    &.visible {
      display: block;
    }

    .part-listing {
      &.invisible {
        opacity: 0.5;
      }

      .button {
        width: 100%;
        display: flex;

        .quick-action,
        .icon {
          width: $icon-size-regular;
          height: $icon-size-regular;
          min-width: $icon-size-regular;
          min-height: $icon-size-regular;
        }

        .quick-action {
          display: none;

          &.left-most {
            margin-left: $margin-thinner;
          }
        }

        .icon.group {
          width: $icon-size-regular;
          height: $icon-size-regular;
          // SVG cannot go smaller than 18x18
          transform: scale(#{$icon-size-small / $icon-size-regular});
        }

        &:hover {
          .quick-action {
            display: block;
          }
        }

        .quick-action {
          margin-right: $margin-thinner;
        }

        .input {
          background: none;
          text-overflow: ellipsis;
          cursor: pointer;
          min-width: 0px;
          flex: 1;

          color: white;

          margin-left: $margin-thinner 0px $margin-thinner 0px;

          &:focus {
            cursor: text;
          }
        }
      }

      &.selected > .button {
        background-color: $black-dark;
      }

      .button:hover {
        background-color: $black-light;
      }
    }

    .part-listing .button,
    .property-listing {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      color: white;
      background-color: $black-regular;

      font-size: $font-size-big;
      height: $explorer-listing-height;
      padding: 0px $padding-thicker 0px $padding-thicker;
    }

    .property-listing {
      .sub-properties-container {
        height: 100%;
        flex: 1;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;

        .input {
          margin-left: $margin-regular;

          span {
            margin-right: $margin-thinner;
          }
        }
      }
    }
  }
}
