@import '../../styles/index.scss';

.explorer-container {
  display: flex;
  flex-direction: column;

  width: $explorer-width;

  &.left {
    border-right: $foreground-panel-border;
  }
  &.right {
    border-left: $foreground-panel-border;
  }

  .tabs-container {
    display: flex;

    height: $explorer-tab-height;

    .tab,
    .tab-static {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      flex: 1;

      color: v(foreground-panel-text-color);
      font-family: v(font-family-regular);

      border-bottom: $foreground-panel-border;

      font-size: $font-size-big;
    }

    .tab {
      background-color: v(tab-unselected-background-color);
    }

    .tab.selected {
      background-color: v(tab-selected-background-color);
    }

    .tab-static {
      @include static;

      background-color: v(tab-static-background-color);
    }
  }

  .listing-container {
    overflow-y: auto;
    flex: 1;

    background-color: v(foreground-panel-background-color);

    &.indented {
      padding-left: $padding-bigger;
    }

    .part-listing {
      .button {
        width: 100%;
        display: flex;

        .quick-action,
        .icon {
          width: $icon-size-regular;
          height: $icon-size-regular;
          min-width: $icon-size-regular;
          min-height: $icon-size-regular;
        }

        .quick-action {
          display: none;

          &.left-most {
            margin-left: $margin-smaller;
          }
        }

        .icon.group {
          width: $icon-size-regular;
          height: $icon-size-regular;
          // SVG cannot go smaller than 18x18
          transform: scale(#{$icon-size-small / $icon-size-regular});
        }

        &:hover {
          .quick-action {
            display: block;
          }
        }

        .quick-action {
          margin-right: $margin-smaller;
        }

        .input {
          background: none;
          text-overflow: ellipsis;
          cursor: pointer;
          min-width: 0px;
          flex: 1;

          color: v(foreground-panel-text-color);
          font-family: v(font-family-regular);

          margin-left: $margin-smaller 0px $margin-smaller 0px;

          &:focus {
            cursor: text;
          }
        }
      }

      .button:hover {
        background-color: v(button-flush-hover-background-color);
      }
    }

    .part-listing .button,
    .property-listing {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      color: v(foreground-panel-text-color);
      background-color: v(button-flush-background-color);
      font-family: v(font-family-regular);

      font-size: $font-size-big;
      height: $explorer-listing-height;
      padding: 0px $padding-bigger 0px $padding-bigger;
    }

    .property-listing {
      .sub-properties-container {
        height: 100%;
        flex: 1;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;

        .input {
          margin-left: $margin-regular;

          span {
            margin-right: $margin-smaller;
          }
        }
      }
    }
  }
}
