@import '../../styles/index.scss';

.tabs-container {
  display: flex;
  justify-content: center;
  padding-top: $padding-regular;

  .tab {
    font-size: $font-size-regular;
    color: white;
    background-color: $black-regular;
    padding: $padding-thick;
    border-radius: $border-radius-regular $border-radius-regular 0 0;
    margin: 0 $margin-thin 0 $margin-thin;

    &:hover {
      background-color: $black-light;
    }

    &:active,
    &.selected {
      background-color: $black-lighter;
      cursor: default;
    }

    &.selected {
      font-weight: bold;
    }
  }
}
