@import '../../styles/index.scss';

$input-width: 64px;
$input-height: 24px;

.properties-explorer {
  display: flex;
  flex-direction: column;
  padding: $padding-x-thick;
  background-color: $black-regular;

  .group {
    display: flex;
    flex-direction: column;

    & + .group {
      margin-top: $margin-x-thick;
    }

    .row {
      display: flex;

      & + .row {
        margin-top: $margin-thick;
      }

      .title {
        color: white;
        font-size: $font-size-regular;
      }

      .input {
        display: flex;
        flex-direction: column;

        & + .input {
          margin-left: $margin-thick;
        }

        &.compact {
          width: $input-width;
        }

        &.half-width {
          // here
        }

        &.full-width {
          width: 100%;
        }

        .label {
          color: $gray-regular;
          margin-bottom: $margin-regular;
          font-size: $font-size-small;
        }

        .value {
          background-color: $black-light;
          border-radius: $border-radius-regular;
          height: $input-height;
          text-align: center;
          font-size: $font-size-regular;
          color: white;
        }
      }

      .toggle {
      }

      .property {
        display: flex;
        overflow: hidden;

        &.property-wide {
          flex-direction: column;
        }

        &.property-compact {
          width: 100%;

          .property-label,
          .property-value {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }

        .property-label {
          color: $gray-regular;
          margin-bottom: $margin-regular;
          font-size: $font-size-small;
        }

        .property-value {
          color: white;
          overflow: hidden;
          font-size: $font-size-regular;
          max-width: 100%;
          white-space: nowrap;
          display: block;
          text-overflow: ellipsis;

          &.copyable {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
