@import '../../styles/index.scss';

.properties-explorer {
  padding: 0 $padding-x-thick 0 $padding-x-thick;

  .group {
    display: flex;
    flex-direction: column;
    padding: $padding-x-thick 0 $padding-x-thick 0;

    .title {
      color: white;
      font-size: $font-size-regular;
      padding-bottom: $padding-x-thick;
    }

    .row {
      display: flex;
      margin-bottom: $margin-thick;

      .input {
        background-color: $black-light;
        border-radius: $border-radius-regular;
        padding-left: $padding-thick;
        margin-right: $margin-x-thick;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $named-input-height;

        &.small {
          max-width: $named-input-small-width;
          width: $named-input-small-width;
        }

        &.wide {
          width: 100%;
        }

        .label {
          font-size: $font-size-small;
          margin-right: $margin-thick;
          color: $gray-darker;
          max-width: 60%;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
          user-select: none;
        }

        .value {
          font-size: $font-size-small;
          color: white;
          flex: 1;
          text-align: center;
          min-width: 0;
          text-overflow: ellipsis;
        }
      }

      .toggle {
        background-color: $black-light;
        border-radius: $border-radius-regular;
        width: $named-input-small-width;
        height: $named-input-height;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $black-lighter;
        }

        &:active,
        &.on {
          background-color: $black-x-light;
        }
      }
    }
  }
}
