@import '../../styles/index.scss';

.device-chooser-container {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.device-chooser-title {
  color: v(foreground-panel-text-color);
  font-family: v(font-family-regular);
}

.device-chooser-list {
  display: flex;
  justify-content: center;
}

.device-chooser-card {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  width: 128px;
  height: 128px;
  
  font-family: v(font-family-regular);
  background-color: v(button-flush-background-color);
  font-size: v(font-size-emphasis);
  border-radius: v(button-border-radius);
  margin: v(margin-irrelevant);
  color: v(foreground-panel-text-color);
}

.device-chooser-card:hover {
  background-color: v(button-flush-hover-background-color);
}

.device-chooser-card>svg,
.device-chooser-card>img {
  display: block;

  width: 48px;
  height: 48px;
  margin-bottom: v(margin-relevant);
}

.device-chooser-recomended {
  margin: 0px;
  height: 0px;
  font-style: italic;
  font-weight: normal;

  font-size: v(font-size-minor);

  color: v(color-recomended);
}