@import '../../styles/index.scss';

.splash-screen {
  background-color: v(foreground-panel-background-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .stellar-icon {
    width: $icon-size-huge;
    height: $icon-size-huge;
  }

  .loading-text {
    margin-top: $margin-massive;
    font-size: $font-size-bigger;
    display: flex;
    align-items: center;
    font-size: $font-size-bigger;
    justify-content: center;
    color: v(foreground-panel-text-color);
    font-family: v(font-family-regular);

    .loading-icon {
      @keyframes bounce {
        0% {
          transform: rotate(0deg);
        }
        13% {
          transform: rotate(45deg);
        }
        25% {
          transform: rotate(90deg);
        }
        38% {
          transform: rotate(135deg);
        }
        50% {
          transform: rotate(180deg);
        }
        63% {
          transform: rotate(225deg);
        }
        75% {
          transform: rotate(270deg);
        }
        83% {
          transform: rotate(315deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      margin-left: $margin-regular;
      display: inline-block;
      width: $icon-size-regular;
      height: $icon-size-regular;
      animation-name: bounce;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: steps(1);
    }
  }
}
