// General
$separator-thickness: 2px;
$button-major-height: 32px;
$scrollbar-width: 8px;

// Specific Components
$toolbar-height: 32px;

$sidebar-major-width: 320px;
$sidebar-minor-width: 280px;

$context-menu-min-width: 240px;
$context-menu-max-width: 320px;

$part-explorer-expand-width: 16px;
