@import './measurements.scss';

// Tool bar
$tool-bar-height: 34px;

$tool-bar-button-height: 24px;

$tool-bar-seperator-height: 24px;

$tool-bar-drop-down-button-more-options-width:  6px;
$tool-bar-drop-down-button-more-options-height: 4px;

$tool-bar-text-feild-width:  40px;
$tool-bar-text-feild-height: 18px;

// Foreground panels
$foreground-panel-border: #{$border-width-thin solid v(foreground-panel-border-color)};

// Background panels
$background-panel-border: #{$border-width-thin solid v(background-panel-border-color)};

// Explorer
$explorer-width: 240px;

$explorer-tab-height: 34px;

$explorer-listing-height: 34px;