@import './measurements.scss';

// Tool bar
$tool-bar-height: 34px;

$tool-bar-button-height: 24px;

$tool-bar-separator-height: 24px;

$tool-bar-drop-down-button-more-options-width: 6px;
$tool-bar-drop-down-button-more-options-height: 4px;

$unit-text-input-width: 42px;
$unit-text-input-height: 22px;

$toggle-width: 42px;
$toggle-height: 22px;
$toggle-dot-size: 18px;

// Foreground panels
$foreground-panel-border: #{$border-width-thin solid
  v(foreground-panel-border-color)};

// Background panels
$background-panel-border: #{$border-width-thin solid
  v(background-panel-border-color)};

// Explorer
$explorer-left-width: 320px;
$explorer-right-width: 320px;

$explorer-tab-height: 34px;

$explorer-listing-height: 34px;

// Home page prompt
$launch-prompt-draft-type-size: 100px;

$launch-prompt-separator-height: 280px;

$launch-prompt-recent-listing-height: 34px;
