$margin-thinner  : 1px;
$margin-thin     : 2px;
$margin-regular  : 4px;
$margin-thick    : 8px;
$margin-thicker  : 12px;
$margin-x-thick  : 16px;
$margin-xx-thick : 24px;
$margin-xxx-thick: 32px;

$padding-thinner : 1px;
$padding-thin    : 2px;
$padding-regular : 4px;
$padding-thick   : 8px;
$padding-thicker : 12px;
$padding-x-thick : 16px;
$padding-xx-thick: 18px;

$border-width-thinner: 0.5px;
$border-width-thin   : 1px;
$border-width-regular: 2px;
$border-width-thick  : 4px;
$border-width-thicker: 6px;

$border-radius-sharper: 1px;
$border-radius-sharp  : 2px;
$border-radius-regular: 4px;
$border-radius-round  : 6px;
$border-radius-rounder: 8px;

$font-size-smaller: 8px;
$font-size-small  : 12px;
$font-size-regular: 14px;
$font-size-big    : 16px;
$font-size-bigger : 18px;
$font-size-x-big  : 20px;
$font-size-xx-big : 22px;

$icon-size-xx-small   : 6px;
$icon-size-x-small    : 10px;
$icon-size-smaller    : 12px;
$icon-size-small      : 14px;
$icon-size-regular    : 16px;
$icon-size-big        : 18px;
$icon-size-bigger     : 20px;
$icon-size-x-big      : 24px;
$icon-size-xx-big     : 28px;
$icon-size-xxx-big    : 32px;
$icon-size-xxxx-big   : 48px;
$icon-size-xxxxx-big  : 64px;
$icon-size-xxxxxx-big : 86px;
$icon-size-xxxxxxx-big: 128px;

$drop-shadow-blur-smaller: 1px;
$drop-shadow-blur-small  : 2px;
$drop-shadow-blur-regular: 4px;
$drop-shadow-blur-big    : 8px;
$drop-shadow-blur-bigger : 16px;

$font-weight-bold  : 500;
$font-weight-bolder: 700;
