$tool-bar-height: 34px;
$tool-bar-padding: 5px;
$tool-bar-button-padding: 3px;
$tool-bar-button-border-radius: 4px;
$tool-bar-button-margin: 1px;

$context-bar-height: 24px;
$context-bar-button-padding: 6px;
$context-bar-button-font-size: $font-size-general;

$button-flush-bg: #22272e;
$button-flush-hover-bg: #393d43;

$focus-area-bg: #22272e;
$focus-area-border-color: #444c56;
$focus-area-border-width: 1px;
$focus-area-border: $focus-area-border-width $focus-area-border-color solid;
$focus-area-seperator-width: 1px;
$focus-area-seperator-color: #444c56;
$focus-area-seperator-margin: 8px;
$focus-area-icon-size: 18px;

$font-size-general: 12px;

$font-general: "Montserrat";