:root {
    /* Sizes */
    --context-menu-bar-height: 24px;

    /* Colors */
    --context-menu-bg: #22272e;
    --context-menu-hover-bg: #393d43;

    /* Paddings */
    --padding-button-thin: 4px;

    /* Font sizes */
    --font-size-general: 12px;
}