:root {
    /* Sizes */
    --context-bar-height: 24px;

    /* Colors */
    --context-menu-bg: #22272e;
    --context-menu-hover-bg: #393d43;

    --border-color: #444c56;

    /* Paddings, Margins, Border-Widths */
    --padding-button-thin: 6px;

    --border-width-general: 1px;

    /* Fonts */
    --font-general: "Montserrat";

    /* Font sizes */
    --font-size-general: 12px;
}