@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./../assets/fonts/Montserrat-Regular.ttf");
}