@import-normalize;

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  background-color: $black-x-dark;

  &.party {
    @keyframes party {
      0% {
        filter: hue-rotate(0deg) brightness(80%);
        transform: translateY(-2px) perspective(400px) rotateX(0.5deg);
      }
      50% {
        filter: hue-rotate(180deg) brightness(150%);
        transform: translateY(2px) perspective(400px) rotateX(-0.5deg);
      }
      100% {
        filter: hue-rotate(360deg) brightness(80%);
        transform: translateY(-2px) perspective(400px) rotateX(0.5deg);
      }
    }

    animation: party 500ms;
    animation-iteration-count: infinite;
  }
}

*:focus {
  outline: none;
  // TODO: ADD PROPER OUTLINES
}
