@import '../assets/themes/default/index.scss';

button {
  display: block;
  border: none;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  background: none;
}

input {
  border: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-scrollbar {
  width: v(scroll-bar-track-width);
}

// See if this makes it flush
*::-webkit-scrollbar-track {
  background-color: v(scroll-bar-track-background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: v(scroll-bar-button-background-color);
  border-radius: v(scroll-bar-button-border-radius);
  border: calc((12px - 2px) / 2) solid v(scroll-bar-track-background-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: v(scroll-bar-button-hover-background-color);
  border-radius: v(scroll-bar-button-hover-border-radius);
  border: calc((12px - 6px) / 2) solid v(scroll-bar-track-background-color);
}