button {
  display: block;
  border: none;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  background: none;
}

input {
  border: none;
}

@mixin button {
  background-color: v(button-background-color);
}

@mixin button-hover {
  background-color: v(button-hover-background-color);
}

@mixin button-flush {
  background-color: v(button-flush-background-color);
}

@mixin button-flush-hover {
  background-color: v(button-flush-hover-background-color);
}
