button {
  display: block;
  border: none;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  background: none;
}

input {
  border: none;
}

@mixin button {
  background-color: v(button-background-color);
  color: v(foreground-panel-text-color);
  border-radius: $border-radius-regular;
  text-align: center;
}

@mixin button-hover {
  background-color: v(button-hover-background-color);
}

@mixin button-flush {
  @include button;
  background-color: v(button-flush-background-color);
}

@mixin button-flush-hover {
  @include button-hover;
  background-color: v(button-flush-hover-background-color);
}
