$margin-smaller: 1px;
$margin-small: 2px;
$margin-regular: 4px;
$margin-big: 8px;
$margin-bigger: 12px;
$margin-x-bigger: 18px;
$margin-xx-bigger: 24px;
$margin-xxx-bigger: 32px;

$padding-smaller: 1px;
$padding-small: 2px;
$padding-regular: 4px;
$padding-big: 8px;
$padding-bigger: 12px;
$padding-x-bigger: 18px;
$padding-xx-bigger: 24px;

$border-width-thinner: 0.5px;
$border-width-thin: 1px;
$border-width-regular: 2px;
$border-width-thick: 4px;
$border-width-thicker: 6px;

$border-radius-sharper: 1px;
$border-radius-sharp: 2px;
$border-radius-regular: 4px;
$border-radius-round: 6px;
$border-radius-rounder: 8px;

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-big: 16px;
$font-size-bigger: 18px;
$font-size-x-bigger: 20px;
$font-size-xx-bigger: 22px;

$icon-size-smaller: 8px;
$icon-size-small: 12px;
$icon-size-regular: 18px;
$icon-size-big: 24px;
$icon-size-bigger: 32px;
$icon-size-large: 40px;
$icon-size-larger: 46px;
$icon-size-massive: 56px;
$icon-size-gigantic: 64px;
$icon-size-huge: 78px;

$drop-shadow-blur-smaller: 16px;
$drop-shadow-blur-small: 12px;
$drop-shadow-blur-regular: 8px;
$drop-shadow-blur-big: 4px;
$drop-shadow-blur-bigger: 2px;
