// Margins
$margin-smaller: 4px;
$margin-small:   6px;
$margin-regular: 8px;
$margin-big:     10px;
$margin-bigger:  12px;

// Paddings
$padding-smaller: 1px;
$padding-small:   2px;
$padding-regular: 4px;
$padding-big:     8px;
$padding-bigger:  12px;

// Border widths
$border-width-regular: 1px;

// Border radii
$border-radius-regular: 4px;

// Font sizes
$font-size-smaller: 8px;
$font-size-small:   10px;
$font-size-regular: 12px;
$font-size-big:     14px;
$font-size-bigger:  16px;