// Colors
$black-1: #17191e;
$black-2: #22272e;
$black-3: #393C42;
$black-4: #1E2228;

$gray-1: #444c56;
$gray-2: #65707d;
$gray-3: #a9b4c2;

// Border Radii
$border-radius-button: 4px;
$border-radius-text-feild: 4px;

// Fonts
$font-family-regular: 'Montserrat', 'Montserrat-Google-Regular', 'Sans-serif', 'Roboto', 'Arial';

// Fonts Sizes
$font-size-general: 12px;
$font-size-emphasis: 16px;

// Button Colors
$button-flush-bg: $black-2;
$button-flush-hover-bg: $black-3;

// Scroll Bar
$scroll-bar-width: 12px;
$scroll-bar-dragger-width: 6px;
$scroll-bar-dragger-hidden-width: 2px;

// Context Bar
$context-bar-height: 24px;
$context-bar-button-padding: 6px;

// Tool Bar
$tool-bar-height: 34px;
$tool-bar-padding: 5px;
$tool-bar-children-margin: 1px;

$tool-bar-button-padding: 3px;
$tool-bar-button-height: 24px;
$tool-bar-button-border-radius: $border-radius-button;

$tool-bar-text-feild-height: 18px;
$tool-bar-text-feild-min-width: 40px;
$tool-bar-text-feild-margin: 4px;
$tool-bar-text-feild-margin-connection: 2px;

$tool-bar-seperator-width: 1px;
$tool-bar-seperator-height: 24px;
$tool-bar-seperator-color: $gray-1;
$tool-bar-seperator-margin: 8px;

// Focus Area
$focus-area-bg: $black-2;
$focus-area-emphasis-bg: $black-3;
$focus-area-border-color: $gray-1;
$focus-area-border-width: 1px;
$focus-area-border: $focus-area-border-width $focus-area-border-color solid;

$focus-area-icon-size: 18px;

// Device Chooser
$device-chooser-card-size: 128px;
$device-chooser-card-margin: 8px;
$device-chooser-card-icon-size: 48px;
$device-chooser-card-icon-margin-bottom: 16px;

// Parts Explorer
$parts-explorer-width: 240px;
$parts-explorer-inner-padding: 4px;

$parts-explorer-button-height: 34px;
$parts-explorer-button-padding: 8px;
$parts-explorer-button-spacing: 4px;

$parts-explorer-title-height: 34px;
$parts-explorer-title-font-size: 14px;