// Colors
$black-1: #17191e;
$black-2: #22272e;
$black-3: #393d43;

$gray-1: #444c56;

// Button Colors
$button-flush-bg: $black-2;
$button-flush-hover-bg: $black-3;

// Fonts Sizes
$font-size-general: 12px;

// Context Bar
$context-bar-height: 24px;
$context-bar-button-padding: 6px;
$context-bar-button-font-size: $font-size-general;

// Tool Bar
$tool-bar-height: 34px;
$tool-bar-padding: 5px;
$tool-bar-button-padding: 3px;
$tool-bar-button-border-radius: 4px;
$tool-bar-button-margin: 1px;

// Focus Areas Colors
$focus-area-bg: $black-2;
$focus-area-border-color: $gray-1;
$focus-area-border-width: 1px;
$focus-area-border: $focus-area-border-width $focus-area-border-color solid;
$focus-area-seperator-width: 1px;
$focus-area-seperator-color: $gray-1;
$focus-area-seperator-margin: 8px;
$focus-area-icon-size: 18px;