@import '../../styles/index.scss';

.tool-bar {
  flex-direction: row;
  display: flex;
  align-items: center;

  background-color: v(foreground-panel-background-color);

  height: $tool-bar-height;
  padding: 0px $padding-regular 0px $padding-regular;
  border-bottom: $foreground-panel-border;
}

.tool-bar-button,
.tool-bar-static-icon,
.tool-bar-drop-down-button-action,
.tool-bar-drop-down-button-more-options {
  align-items: center;
  display: flex;

  color: v(button-flush-content-color);
  background-color: v(button-flush-background-color);
  font-family: v(font-family-regular);

  // we want it to be 8px, but 2 * 4px stack up to 8px anyways
  margin: 0px $margin-smaller 0px $margin-smaller;
  border-radius: $border-radius-regular;
  padding: 0px $padding-regular 0px $padding-regular;
  height: $tool-bar-button-height;
  font-size: $font-size-regular;
}

.tool-bar-button:hover,
.tool-bar-drop-down-button-action:hover,
.tool-bar-drop-down-button-more-options:hover {
  color: v(button-flush-hover-content-color);
  background-color: v(button-flush-hover-background-color);
}

.tool-bar-button>svg,
.tool-bar-button>img,
.tool-bar-static-icon>svg,
.tool-bar-static-icon>img,
.tool-bar-drop-down-button-action>svg,
.tool-bar-drop-down-button-action>img {
  display: block;

  width: $icon-size-regular;
  height: $icon-size-regular;
}

.tool-bar-static-icon {
  margin-right: $margin-smaller;
}

.tool-bar-seperator {
  flex-shrink: 0;

  background-color: v(foreground-panel-border-color);

  height: $tool-bar-seperator-height;
  width: $border-width-thin;
  margin: 0px $margin-regular 0px $margin-regular;
}

.tool-bar-drop-down-button-container {
  display: flex;
}

.tool-bar-drop-down-button-action {
  margin: 0px;
}

.tool-bar-drop-down-button-more-options {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-bar-drop-down-button-more-options>img,
.tool-bar-drop-down-button-more-options>svg {
  // strict image dimensions
  width: v($tool-bar-drop-down-button-more-options-width);
  height: v($tool-bar-drop-down-button-more-options-height);
}