@import '../../styles/index.scss';

$button-size: 28px;

.container {
  display: flex;

  & + .container {
    margin-left: $margin-x-thick;
  }

  .button {
    width: $button-size;
    height: $button-size;
    background-color: $black-lighter;
    border-radius: $border-radius-regular;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    & + .button {
      margin-left: $margin-regular;
    }

    &:not(.disabled) {
      &:hover {
        background-color: $black-x-light;
      }

      &:active,
      &.selected {
        background-color: $black-xx-light;
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
