@import '../../styles/index.scss';

.tool-bar {
  flex-direction: row;
  display: flex;
  align-items: center;

  height: $tool-bar-height;
  padding: 0px $tool-bar-padding 0px $tool-bar-padding;

  background-color: $focus-area-bg;
  border-bottom: $focus-area-border;
}

.tool-bar-button,
.tool-bar-static-icon,
.tool-bar-drop-down-button-action,
.tool-bar-drop-down-button-more-options {
  color: white;
  font-weight: bold; 

  background-color: $button-flush-bg;
  font-size: $font-size-general;
  font-family: $font-family-regular;

  min-height: $tool-bar-button-height;
  padding: $tool-bar-button-padding;
  border-radius: $border-radius-button;
  margin: 0px $tool-bar-children-margin 0px $tool-bar-children-margin;
}

.tool-bar-button:hover,
.tool-bar-drop-down-button-action:hover,
.tool-bar-drop-down-button-more-options:hover {
  background-color: $button-flush-hover-bg;
}

.tool-bar-button>svg,
.tool-bar-button>img,
.tool-bar-static-icon>svg,
.tool-bar-static-icon>img,
.tool-bar-drop-down-button-action>svg,
.tool-bar-drop-down-button-action>img {
  width: $focus-area-icon-size;
  height: $focus-area-icon-size;
  display: block;
}

.tool-bar-seperator {
  height: $tool-bar-seperator-height;

  width: $tool-bar-seperator-width;
  background-color: $tool-bar-seperator-color;
  margin: 0px $tool-bar-seperator-margin 0px $tool-bar-seperator-margin;
}

.tool-bar-text-feild {
  width: 0px;
  color: white;
  text-align: center;

  background-color: $black-1;
  font-family: $font-family-regular;

  border-radius: $border-radius-text-feild;
  margin: 0px $tool-bar-children-margin 0px $tool-bar-children-margin;
  min-width: $tool-bar-text-feild-min-width;
  margin: 0px $tool-bar-text-feild-margin 0px $tool-bar-text-feild-margin-connection;
}

.tool-bar-drop-down-button-root {
  display: flex;
}

.tool-bar-drop-down-button-action {
  margin: 0px;
}

.tool-bar-drop-down-button-more-options {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-bar-drop-down-button-more-options>img,
.tool-bar-drop-down-button-more-options>svg {
  // strict image dimensions
  width: 6px;
  height: 4px;
}