@import '../../../../styles/index.scss';

$title-bar-height: 32px;

.toolbar-top {
  // not attached to the title bar for now

  z-index: 2;
  background-color: $black-darker;
  height: $title-bar-height;
  display: flex;

  .file-input {
    display: none;
  }

  .toolbar-tabs {
    flex: 1;
  }
}
