@import '../../styles/index.scss';

.partition {
  background-color: $black-light;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $button-major-height;
  min-height: $button-major-height;
  box-shadow: 0 0 $drop-shadow-blur-big $shadow-dark;
  z-index: 1;

  .partition-option {
    color: $gray-darker;
    flex: 1;
    text-align: center;
    font-size: $font-size-regular;
    height: 100%;

    &.selected {
      font-weight: $font-weight-bold;
      color: white;
      cursor: default;
    }
  }

  .partition-separator {
    width: $separator-thickness;
    border-radius: $border-radius-sharp;
    height: calc(100% - $margin-thick * 2);
    background-color: $black-x-light;
  }
}
