@import '../../styles/index.scss';

.context-bar {
  width: 100%;
  height: $context-bar-height;
  background-color: $focus-area-bg;
  display: flex;
  border-bottom: $focus-area-border;
}

.context-bar-button {
  color: white;
  background-color: $button-flush-bg;
  padding: $context-bar-button-padding;
  font-size: $font-size-general;
}

.context-bar-button:hover {
  background-color: $button-flush-hover-bg;
}