.context-bar {
    width: 0px;
    height: var(--context-bar-height);
    background-color: var(--context-menu-bg);
    display: flex;
    border-bottom: var(--border-width-general) var(--border-color) solid;
}

.context-bar.max-width {
    width: 100%;
}

.context-bar-button {
    color: white;
    background-color: var(--context-menu-bg);
    padding: var(--padding-button-thin);
}

.context-bar-button:hover {
    background-color: var(--context-menu-hover-bg);
}