@import '../resources/index.scss';
@import '../utilities.scss';

.context-bar {
  width: 100%;
  height: 24px;
  display: flex;

  background-color: v(foreground-panel-background-color);
  border-bottom: v(background-panel-border);
}

// .context-bar-button {
//   color: white;
//   font-size: $font-size-general;
//   background-color: $button-flush-bg;
//   padding: $context-bar-button-padding;
// }

// .context-bar-button:hover {
//   background-color: $button-flush-hover-bg;
// }