@import '../assets/themes/default/index.scss';

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow-x: hidden;
  // overflow-y: hidden;

  background-color: v(unimportant-panel-background-color);
}

*:focus {
  outline: none;
}