@import '../../styles/index.scss';

$notification-width: 320px;

.container {
  display: flex;
  flex-direction: column;

  .notification {
    background-color: $black-lighter;
    display: flex;
    flex-direction: column;
    color: white;
    padding: $padding-x-thick;
    border-radius: $border-radius-regular;
    width: $notification-width;
    cursor: pointer;

    & + .notification {
      margin-top: $margin-thick;
    }

    &.info {
    }

    &.warning {
    }

    &.error {
    }

    &.success {
    }

    .title-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $margin-thick;

      .title {
        flex: 1;
        font-weight: bold;
        font-size: $font-size-big;
      }

      .icon {
        width: $icon-size-regular;
        height: $icon-size-regular;

        & + .icon {
          margin-left: $margin-thick;
        }
      }
    }

    .body {
      font-size: $font-size-regular;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & + .actions {
        margin-top: $margin-thick;
      }
    }

    &.expanded {
      .body {
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
      }
    }

    .actions {
      display: flex;

      .action {
        background-color: $black-x-light;
        color: white;
        padding: 6px;
        border-radius: $border-radius-regular;
        font-size: $font-size-small;

        &:hover {
          background-color: $black-xx-light;
        }

        &:active {
          background-color: $black-xxx-light;
        }

        & + .action {
          margin-left: $margin-thick;
        }
      }
    }
  }
}
