.context-menu-bar-button {
    color: white;
    background-color: var(--context-menu-bg);
    padding: var(--padding-button-thin);
    cursor: default;
}

.context-menu-bar-button:hover {
    background-color: var(--context-menu-hover-bg);
}