@import '../../styles/index.scss';

.side-bar {
  background-color: $black-regular;
  display: flex;
  flex-direction: column;

  &.minor {
    width: $sidebar-minor-width;
  }

  &.major {
    width: $sidebar-major-width;
  }

  .scrollable {
    flex: 1;
  }
}
