@import '../../styles/index.scss';

.side-bar {
  width: $sidebar-major-width;
  background-color: $black-regular;
  display: flex;
  flex-direction: column;

  .side-bar-scrollable-scroller {
    flex: 1;
    height: 0;
  }
}
