@import '../../../../styles/index.scss';

.toolbar-bottom {
  background-color: $black-lighter;
  display: flex;

  .cluster {
    display: flex;
    padding: $padding-regular;

    &.middle {
      flex: 1;
    }
  }
}
