@import '../../styles/index.scss';

.toggle {
  display: flex;
  box-sizing: border-box;
  align-items: center;

  background-color: v(input-background-color);

  padding: $padding-small;
  border-radius: $border-radius-regular;
  width: $toggle-width;
  height: $toggle-height;
}

.toggle.on {
  flex-direction: row-reverse;

  background-color: v(input-content-selected-color);
}

.toggle-dot {
  background-color: v(input-content-color);
  display: block;

  border-radius: $border-radius-regular;
  width: $toggle-dot-size;
  height: $toggle-dot-size;
}
