// Vanilla CSS vars to allow hot swaps
:root {
  // Accents
  --accent-lighter: #b062f5;
  --accent-light:   #9e45ed;
  --accent-regular: #892cdc;
  --accent-dark:    #7123b8;
  --accent-darker:  #601b9e;

  --black-lighter: #444c56;
  --black-light:   #3b3d45;
  --black-regular: #22272e;
  --black-dark:    #191c21;
  --black-darker:  #0f1113;
}