// Accents
$accent-lighter: #b062f5;
$accent-light:   #9e45ed;
$accent-regular: #892cdc;
$accent-dark:    #7123b8;
$accent-darker:  #601b9e;

// Blacks
$black-lighter: #444c56;
$black-light:   #393c42;
$black-regular: #22272e;
$black-dark:    #191c21;
$black-darker:  #0f1113;

// Grays
$gray-general: #65707d;

// Generic colors
$white: white;