/* Contains styles that should be instantaneously applied */

* {
  user-select: none;
  overscroll-behavior: none;
}

html,
body {
  margin: none;
  overflow: hidden;
  background-color: black;
}

button,
input,
details,
summary,
textarea {
  padding: unset;
  background: unset;
  border: unset;
}

*:focus,
*:focus-within {
  outline: unset;
}
