.context-menu-button {
    color: white;
    background-color: var(--context-menu-bg);
    padding: var(--padding-button-thinner);
}

.context-menu-button:hover {
    background-color: var(--context-menu-hover-bg);
}