@import '../../../../../../styles/index.scss';

.right-side-bar {
  .constrain-icon {
    fill: white;
    width: $icon-size-bigger;
    height: $icon-size-big;
  }

  .nothing-selected {
    color: $gray-regular;
    font-size: $font-size-regular;
    margin-top: $margin-x-thick;
  }
}
