@import '../../styles/index.scss';

.parts-explorer-container {
  overflow-y: auto;

  background-color: $focus-area-bg;
  border-right: $focus-area-border;
}

.parts-explorer-button {
  display: flex;
  align-items: center;
  color: white;
  flex-wrap: nowrap;

  background-color: $black-2;
  font-family: $font-family-regular;

  height: $parts-explorer-button-height;
  padding: $parts-explorer-button-padding;
  width: $parts-explorer-width;
}

.parts-explorer-button:hover {
  background-color: $black-3;
}

.parts-explorer-button-icon,
.parts-explorer-button>svg,
.parts-explorer-button>img {
  width: $focus-area-icon-size;
  height: $focus-area-icon-size;
  // min width to make it not shrink
  min-width: $focus-area-icon-size;
  min-height: $focus-area-icon-size;
}

.parts-explorer-button>svg:not(.parts-explorer-button-icon),
.parts-explorer-button>img:not(.parts-explorer-button-icon) {
  margin-right: $parts-explorer-button-spacing;
}

.parts-explorer-button-icon {
  display: none;

  margin-left: $parts-explorer-button-spacing;
}

.parts-explorer-button:hover>.parts-explorer-button-icon {
  display: block;
}

.parts-explorer-button-input {
  background: none;
  color: white;
  text-overflow: ellipsis;
  cursor: pointer;
  min-width: 0px;

  font-family: $font-family-regular;

  margin-left: $parts-explorer-inner-padding 0px $parts-explorer-inner-padding 0px;
}

.parts-explorer-button-input.editing,
.parts-explorer-button-input:focus {
  cursor: text;
}

.parts-explorer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;

  font-family: $font-family-regular;
  background-color: $focus-area-emphasis-bg;
  border-bottom: $focus-area-border;
  border-right: $focus-area-border;

  height: $parts-explorer-title-height;
  font-size: $parts-explorer-title-font-size;
}