@import '../../styles/index.scss';

.parts-explorer {
  display: flex;
  flex-direction: column;

  .parts-explorer-listing {
    display: flex;
    flex-direction: column;
    background-color: $black-regular;

    &.selected {
      .parts-explorer-listing-button {
        background-color: $black-lighter;
      }
    }

    .parts-explorer-listing-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: $button-major-height;
      background-color: $black-regular;

      &:hover {
        background-color: $black-light;
      }

      .parts-explorer-listing-expand {
        width: $part-explorer-expand-width;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .parts-explorer-listing-expand-icon {
          fill: white;
        }
      }

      .parts-explorer-listing-icon-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: $button-major-height;

        .parts-explorer-listing-icon {
          width: $icon-size-regular;
          height: $icon-size-regular;
          fill: white;
        }
      }

      .parts-explorer-listing-label {
        color: white;
        flex: 1;
        text-align: left;
        cursor: pointer;
        margin-right: $margin-thick;
        // text-overflow: ellipsis;

        &:focus {
          cursor: text;
        }
      }
    }

    .parts-explorer-listing-children-container {
    }
  }
}
