@import '../../styles/index.scss';

.parts-explorer {
  display: flex;
  flex-direction: column;

  .listing {
    display: flex;
    flex-direction: column;
    background-color: $black-regular;

    .button {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: $button-major-height;
      background-color: $black-regular;

      &:hover {
        background-color: $black-light;
      }

      .expand {
        width: $part-explorer-expand-width;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .expand-icon {
          width: $icon-size-xx-small;
          height: $icon-size-xx-small;
          fill: white;
        }
      }

      .icon-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: $button-major-height;

        .icon {
          width: $icon-size-regular;
          height: $icon-size-regular;
          fill: white;
        }
      }

      .label {
        color: white;
        flex: 1;
        text-align: left;
        cursor: pointer;
        margin-right: $margin-thick;
        // text-overflow: ellipsis;

        &:focus {
          cursor: text;
        }
      }
    }

    &.selected .button {
      background-color: $black-light;
    }

    &.selected > .button {
      background-color: $black-lighter;
    }
  }
}
