@import '../../styles/index.scss';

.control-menu {
  display: flex;

  & > .control-menu-button {
    display: relative;
    font-size: $font-size-regular;
    padding: $padding-thick;
    color: white;
    background-color: $black-darker;

    & > .control-menu-button-extension {
      position: absolute;
      display: none;
      cursor: default;

      transform: translateX(calc($padding-thick * -1)) translateY($padding-thick);
    }

    &:hover {
      background-color: $black-dark;
    }

    &:active,
    &:focus-within + &:hover {
      background-color: $black-regular;

      & > .control-menu-button-extension {
        display: block;
      }
    }
  }

  &:focus-within {
    .control-menu-button:hover {
      background-color: $black-regular;

      & > .control-menu-button-extension {
        display: block;
      }
    }
  }
}
