@import '../../styles/index.scss';

.control-menu {
  display: flex;

  & > .control-menu-button {
    display: block;
    font-size: $font-size-regular;
    padding: $padding-big;
    color: v(toolbar-top-control-menu-button-content-color);
    background-color: v(toolbar-top-control-menu-button-background-color);

    & > .control-menu-button-extension {
      display: none;
      position: fixed;
      cursor: default;
    }

    &:hover {
      background-color: v(
        toolbar-top-control-menu-button-hover-background-color
      );
    }

    &:active,
    &:focus-within + &:hover {
      background-color: v(
        toolbar-top-control-menu-button-active-background-color
      );

      & > .control-menu-button-extension {
        display: block;
      }
    }
  }

  &:focus-within {
    .control-menu-button:hover {
      background-color: v(
        toolbar-top-control-menu-button-active-background-color
      );

      & > .control-menu-button-extension {
        display: block;
      }
    }
  }
}
